<span style="color:#6f6f6e ;font-size:9px">
<br>
 <p>
   *Los bosques que gestionamos agradecen tu colaboración para ayudarnos a ahorrar papel, por eso no me imprimas si no es imprescindible.
 </p>
   <p>
 *The forests we manage appreciate your collaboration helping us to save paper, please do not print unless completely necessary.
</p>
  <p>
 * La información contenida en este mensaje puede ser de uso interno o confidencial. Si al revisarla usted entiende que no es el destinatario, no puede copiar o distribuir el mensaje a nadie, debe destruirlo y notificar tal hecho al emisor. Asimismo, se le advierte que toda la información personal contenida en este mensaje se encuentra protegida por la Ley 15/1999, de 13 de Diciembre de protección de datos de carácter personal, quedando totalmente prohibido su uso y/o tratamiento, así como la cesión de aquella a terceros al margen de lo dispuesto en la citada ley protectora de datos personales y de su normativa de desarrollo.
</p>
  <p>
  * This information is intended to be confidential and for the exclusive use of the individual or entity named above only . If you are not the intended recipient, be aware that retention, dissemination, distribution or copying of this message is strictly prohibited. If you received it by mistake, please notify the sender immediately and return it to the address above. All personal information contained in this message is protected by the Spanish law (Ley 15/1999, de 13 de Diciembre, de protección de datos de carácter personal), and it´s no allowed  to use or communicate it to anyone out of  legal regulations.
  </p>
</span>
